<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Date</td>
      <td>Transaction</td>
      <td></td>
      <td>Amount</td>
      <td>Units</td>
      <td>Price</td>
      <td>Unit</td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td></td>
      <td></td>
      <td>(INR)</td>
      <td></td>
      <td>(INR)</td>
      <td>Balance</td>
    </tr>
    <tr>
      <th>2</th>
      <td>HDFC Mutual Fund</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>Folio No: 16033544 / 19</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td>HACG1G-HDFC Small Cap Fund - Direct Growth Plan (Advisor: INZ000031633)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Registrar : CAMS</td>
    </tr>
    <tr>
      <th>5</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Opening Unit Balance: 0.000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>18-Jul-2019</td>
      <td>Purchase</td>
      <td></td>
      <td>5,000.00</td>
      <td>114.597</td>
      <td>43.631</td>
      <td>114.597</td>
    </tr>
    <tr>
      <th>7</th>
      <td>16-Aug-2019</td>
      <td>Purchase</td>
      <td></td>
      <td>1,000.00</td>
      <td>24.589</td>
      <td>40.668</td>
      <td>139.186</td>
    </tr>
    <tr>
      <th>8</th>
      <td>16-Sep-2019</td>
      <td>Purchase</td>
      <td></td>
      <td>1,000.00</td>
      <td>24.159</td>
      <td>41.392</td>
      <td>163.345</td>
    </tr>
    <tr>
      <th>9</th>
      <td>15-Oct-2019</td>
      <td>Purchase</td>
      <td></td>
      <td>1,000.00</td>
      <td>24.693</td>
      <td>40.497</td>
      <td>188.038</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Closing Unit Balance: 188.038</td>
      <td></td>
      <td>NAV on 24-Oct-2019: INR 41.689</td>
      <td></td>
      <td></td>
      <td>Valuation on 24-Oct-2019: INR 7,839.12</td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td>*Due to change in fundamental attributes of the Scheme w.e.f.  May 23, 2018, the type of the Scheme has been changed to an open-ended equity scheme</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>12</th>
      <td>predominantly investing in small cap stocks. Current Load Structure - Entry Load: Not Applicable; Exit Load: 1% if units are redeemed/switched-out within 1 year from</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>13</th>
      <td>the allotment date; No Exit Load if units are redeemed /switched-out after 1 year. The rate of exit load levied on units redeemed/switched-out will be the rate</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>14</th>
      <td>prevailing at the time of allotment of the units. For further details visit www.hdfcfund.com or contact any of our Investor Service Centre.  GST Identification Number</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>15</th>
      <td>: 27AAATH1809A1Z9</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>16</th>
      <td>MOTILAL OSWAL MUTUAL FUND</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>17</th>
      <td>Folio No: 91013119452 / 0</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>KYC: NOT OK  PAN: NOT OK</td>
    </tr>
    <tr>
      <th>18</th>
      <td>127CPGDG-Motilal Oswal Multicap 35 Fund - Direct Growth(Advisor: INZ000031633)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Registrar : KARVY</td>
    </tr>
    <tr>
      <th>19</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Opening Unit Balance: 0.000</td>
    </tr>
    <tr>
      <th>20</th>
      <td>18-Jul-2019</td>
      <td>Purchase(NAV Dt : 18/07/2019)</td>
      <td></td>
      <td>1,000.00</td>
      <td>36.790</td>
      <td>27.1814</td>
      <td>36.790</td>
    </tr>
    <tr>
      <th>21</th>
      <td>16-Aug-2019</td>
      <td>Purchase(NAV Dt : 16/08/2019)</td>
      <td></td>
      <td>1,000.00</td>
      <td>38.500</td>
      <td>25.9742</td>
      <td>75.290</td>
    </tr>
    <tr>
      <th>22</th>
      <td>16-Sep-2019</td>
      <td>Purchase(NAV Dt : 16/09/2019)</td>
      <td></td>
      <td>1,000.00</td>
      <td>37.945</td>
      <td>26.3536</td>
      <td>113.235</td>
    </tr>
    <tr>
      <th>23</th>
      <td>15-Oct-2019</td>
      <td>Purchase(NAV Dt : 15/10/2019)</td>
      <td></td>
      <td>1,000.00</td>
      <td>36.445</td>
      <td>27.4383</td>
      <td>149.680</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Closing Unit Balance: 149.680</td>
      <td></td>
      <td>NAV on 24-Oct-2019: INR 27.9703</td>
      <td></td>
      <td></td>
      <td>Valuation on 24-Oct-2019: INR 4,186.59</td>
      <td></td>
    </tr>
    <tr>
      <th>25</th>
      <td>Entry Load: Nil, Exit Load: For subscriptions received w.e.f. November 01,2018, 1%- If redeemed on or before 15 days from the date of allotment. Nil- If redeemed</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>26</th>
      <td>after 15 days fromthe date of allotment. A switch-out or a withdrawal shall also be subjected to the Exit load like any redemption. Redemption, Switch and</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>27</th>
      <td>Systematic Withdrawal of units would bedone on First in First out basis (FIFO). For subscriptions prior to November 01, 2018, shall continue to be subject to the load</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>28</th>
      <td>structure as may have been applicable at the time oftheir original Investments. For Special Products registrations, load for each transaction is based on the load</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>29</th>
      <td>structure applicable as of the registration date.</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>